---
layout: default
---

<!-- Page Header -->
<header class="intro-header" id="about-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 about-heading">
        <ul class="fa-ul animated fadeInUp" id="about-info">
          <li><i class="fa-li fa fa-map-marker" aria-hidden="true"></i><span><a href="https://www.google.gr/maps/place/Munich/@48.155004,11.4717963,12z/data=!3m1!4b1!4m5!3m4!1s0x479e75f9a38c5fd9:0x10cb84a7db1987d!8m2!3d48.1351253!4d11.5819805">Munich, Germany</a></span></li>
          <li><i class="fa-li fa fa-skype" aria-hidden="true"></i><span>nlamprianidis</span></li>
          <li><i class="fa-li fa fa-envelope" aria-hidden="true"></i><span>nlamprian at gmail.com</span></li>
          <li><i class="fa-li fa fa-briefcase" aria-hidden="true"></i><span><a href="https://drive.google.com/file/d/1lWdKmeVCNnNUhc_-bdAYFzNjEK3ypPUj/view">Curriculum Vitae</a></span></li>
        </ul>
      </div>
    </div>
  </div>
</header>

{{ content }}

<hr id="hr-hide">
