---
layout: default
---

<!-- Page Header -->
<header class="intro-header" id="about-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 about-heading">
                <ul class="fa-ul animated fadeInUp" id="about-info">
                    <li><i class="fa-li fa fa-map-marker" aria-hidden="true"></i><span><a href="https://www.google.gr/maps/dir//Odense,+Denmark/@55.4038335,10.3323308,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x464cd935429724c1:0x3b1e34d53b2ff5ec!2m2!1d10.40237!2d55.403756">Odense, Denmark</a></span></li>
                    <li><i class="fa-li fa fa-skype" aria-hidden="true"></i><span>nlamprianidis</span></li>
                    <li><i class="fa-li fa fa-envelope" aria-hidden="true"></i><span>nlamprian at gmail.com</span></li>
                    <li><i class="fa-li fa fa-briefcase" aria-hidden="true"></i><span><a href="https://drive.google.com/file/d/1Ny4XW7y3rxVItJGpwlAm8hz7nTJKixe6/view">Curriculum Vitae</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</header>

{{ content }}

<hr id="hr-hide">
