---
layout: default
---

<!-- Page Header -->
<header class="intro-header" id="about-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 about-heading">
                <ul class="fa-ul animated fadeInUp" id="about-info">
                    <li><i class="fa-li fa fa-map-marker" aria-hidden="true"></i><span><a href="https://www.google.gr/maps/dir//Rio,+Achaea,+Greece/@38.3020225,21.7459,13z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x135e4b4b6ba8fdd5:0x400bd2ce2b98da0!2m2!1d21.7809193!2d38.3019603!3e0">Rio, Greece</a></span></li>
                    <li><i class="fa-li fa fa-skype" aria-hidden="true"></i><span>nlamprianidis</span></li>
                    <li><i class="fa-li fa fa-envelope" aria-hidden="true"></i><span>nlamprian at gmail.com</span></li>
                    <li><i class="fa-li fa fa-briefcase" aria-hidden="true"></i><span><a href="https://drive.google.com/file/d/1-YOMCTt9btg_NbgeTkiVVL0dBJZqllAH/view">Curriculum Vitae</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</header>

{{ content }}

<hr id="hr-hide">
