---
layout: default
---

<!-- Post Header -->
<div class="intro-header" style="background-image: url('{{ site.baseurl }}/assets/img/blog/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <div class="post-heading">
                    <h1 class="animated fadeInUp">{{ page.title }}</h1>
                    {% if page.subtitle %}<h2 class="subheading animated fadeInUp">{{ page.subtitle }}</h2>{% endif %}
                    <span class="meta animated fadeInUp">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ content }}
                <hr id="hr-hide">
                {% include share.html %}
                <hr id="hr-hide">
                {% include pager.html label="Post" %}
            </div>
        </div>
    </div>
</article>

{% include disqus.html %}

<hr id="hr-hide">
